.wrap {
  width: 350px;
  margin: 10px auto;
  border: 1px solid #777;
  border-radius: 20px;
}

.title {
  margin: 15px auto;
}
.input_box {
  margin-bottom: 20px;
  text-align: left;
  padding-left: 10%;
}

.input_box input {
  width: 90%;
  height: 10px;
  padding: 5% 0;
  text-indent: 5px;
  margin: 1vw auto;
  display: inline-block;
  border-radius: 20px;
}

.join_all_input {
  display: inline-block;
}

/* .check_btn {
  margin-left: 20px;
} */

.checkPw_read {
  border: none;
}
